<li class='list'>
  <%= link_to item_path(itemlist.id) do %>
  <div class='item-img-content'>
    <%= image_tag itemlist.image, class: "item-img" if itemlist.image.attached? %>
    <% if itemlist.purchase != nil %>
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
    <% end %>
  </div>
  <div class='item-info'>
    <h3 class='item-name'>
      <%= itemlist.item_name %>
    </h3>
    <div class='item-price'>
      <span><%= itemlist.sell_price.to_s(:delimited) %>円<br><%= itemlist.item_shipping_fee_status.name %></span>
      <div class='star-btn'>
        <%= image_tag "star.png", class:"star-icon" %>
        <span class='star-count'>0</span>
      </div>
    </div>
  </div>
  <% end %>
</li>